<%- include('../components_adm/header.ejs') %>
<style>
    #container{
        width: 100% !important;
    }
    #nav2{
        position: fixed;
    }
</style>
<% if (message.length > 0) { %>
    <br><br>
    <div class="alert alert-<%=alert %> alert-dismissible fade show" role="alert" style="width:30%;margin: 0 auto;">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

<% } %>
<%- include('../components_adm/footer.ejs') %>