<%- include('../components_adm/header.ejs') %>
<style>
    #container{
        width: 100% !important;
    }
    #nav2{
        position: fixed;
    }
</style>
<% if (message.length > 0) { %>
    <br><br>
    <div class="alert alert-<%=alert %> alert-dismissible fade show" role="alert" style="width:30%;margin: 0 auto;">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

<% } %>
<br><br><br>
<div class="container">
    <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">Meja</h5>
          <p class="card-text">Lihat Lebih Banyak</p>
          <a href="/admin/dashboard/meja" class="btn btn-danger">Detail</a>
        </div>
      </div>
</div>
<%- include('../components_adm/footer.ejs') %>