<%- include('../components/header.ejs') %>
<div class="crousel"
style="z-index: -1;
margin-top: -5px;">

  
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://placekitten.com/800/400" class="d-block w-100" alt="https://placekitten.com/800/401">
      </div>
      <div class="carousel-item">
        <img src="https://placekitten.com/800/401" class="d-block w-100" alt="https://placekitten.com/800/401">
      </div>
      <div class="carousel-item">
        <img src="https://placekitten.com/800/403" class="d-block w-100" alt="https://placekitten.com/800/401">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="menu" style="
width: 100%;
height: 20%;
">
<div style="width: 90%;margin: auto;">
    <br><br>
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col" style="height: 40px;">
            <a href="" style="color:black;">
            <img src="/assets/soda.png" alt="" style=" height:100%;">
            <span style="display:block;">Minuman</span>
        </a>
          </div>
          
           <div class="col" style="height: 40px;">
            <a href="" style="color:black;">
            <img src="/assets/discount.png" alt="" style=" height:100%;">
            <span style="display:block;">Diskon</span>
            </a>
          </div>
          
           <div class="col" style="height: 40px;">
            <a href="" style="color:black;">
            <img src="/assets/fast-delivery.png" alt="" style=" height:100%;">
            <span style="display:block;">Kirim </span>
            </a>
          </div>
        </div>
      </div>
      <br><br>
      <div class="container text-center">
        <div class="row align-items-start">
            
           <div class="col" style="height: 40px;">
            <a href="" style="color:black;">
            <img src="/assets/order.png" alt="" style=" height:100%;">
            <span style="display:block;">Pesan Cepat</span>
            </a>
          </div>
          
           <div class="col" style="height: 40px;">
            <a href="" style="color:black;">
            <img src="/assets/premium-quality.png" alt="" style=" height:100%;">
            <span style="display:block;">Best Seller</span>
            </a>
          </div>
          
           <div class="col" style="height: 40px;">
            <a href="" style="color:black;">
            <img src="/assets/shopping-online.png" alt="" style=" height:100%;">
            <span style="display:block;">Bawa Pulang</span>
            </a>
          </div>
        </div>
      </div>
      <br>
</div>
</div>


<section class="pt-5 pb-5" style="z-index: -99;" id="slidder">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-3"> Penawaran Menarik Nih ⚡️</h5>
            </div>
            <div class="col-6 text-right">
                <a class=" mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev" style="color:black; right:0;">
                 <i class="bi bi-arrow-left-short"></i>
                </a>
                <a class=" mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next" style="color:black;">
       <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h6 class="card-title">Special title treatment</h6>
                                            <a class="card-text btn btn-sm btn-danger" style="font-size:12px"><i class="bi bi-arrow-left-short"></i> content</a>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h6 class="card-title">Special title treatment</h6>
                                            <a class="card-text btn btn-sm btn-danger" style="font-size:12px"><i class="bi bi-arrow-left-short"></i> content</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h6 class="card-title">Special title treatment</h6>
                                            <a class="card-text btn btn-sm btn-danger" style="font-size:12px"><i class="bi bi-arrow-left-short"></i> content</a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                        <div class="card-body">
                                            <h6 class="card-title">Special title treatment</h6>
                                            <a class="card-text btn btn-sm btn-danger" style="font-size:12px"><i class="bi bi-arrow-left-short"></i> content</a>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                        <div class="card-body">
                                            <h6 class="card-title">Special title treatment</h6>
                                            <a class="card-text btn btn-sm btn-danger" style="font-size:12px"><i class="bi bi-arrow-left-short"></i> content</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                        <div class="card-body">
                                            <h6 class="card-title">Special title treatment</h6>
                                            <a class="card-text btn btn-sm btn-danger" style="font-size:12px"><i class="bi bi-arrow-left-short"></i> content</a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                        <div class="card-body">
                                            <h6 class="card-title">Special title treatment</h6>
                                            <a class="card-text btn btn-sm btn-danger" style="font-size:12px"><i class="bi bi-arrow-left-short"></i> content</a>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                        <div class="card-body">
                                            <h6 class="card-title">Special title treatment</h6>
                                            <a class="card-text btn btn-sm btn-danger" style="font-size:12px"><i class="bi bi-arrow-left-short"></i> content</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                        <div class="card-body">
                                            <h6 class="card-title">Special title treatment</h6>
                                            <a class="card-text btn btn-sm btn-danger" style="font-size:12px"><i class="bi bi-arrow-left-short"></i> content</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../components/footer.ejs') %>
