<div style="
width: 100%;
border: 1px solid gray;
display:fixed;
height:7%;
border-radius: 0 0 12px 12px;
overflow: hidden;
">
<img src="/assets/Gofood-logo.jpg" alt="" style=" height:100%; margin: 0 auto;">
</div>
