<div class="fixed-bottom" id="btnav" style="
width: 30%;
margin: 0 auto;
height: 7%;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
border-radius :12px 12px 1px 1px;
padding-top: 10px;
z-index:99;
background-color:white;
">
<div class="nav-bottom" style="
display: flex;
flex-direction: row;
justify-content:space-evenly;
">

<div style="text-align: center;"><a style="color:black;" href=""><i class="bi bi-house"></i><span style="display:block;">Beranda</span></a></div>
<div style="text-align: center;"><a style="color:black;" href=""><i class="bi bi-ticket-perforated"></i><span style="display:block;">Pesanan</span></a></div>
<div style="text-align: center;"><a style="color:black;" href=""><i class="bi bi-telephone-inbound"></i><span style="display:block;">Inbox</span></a></div>
<div style="text-align: center;"><a style="color:black;" href=""><i class="bi bi-clock-history"></i><span style="display:block;">Riwayat</span></a></div>
</div>
</div>